.navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9f9b9b;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.navbar a {
  margin-left: 30px;
  margin-right: 80px;
  text-decoration: none;
  color: #1b71e1;
  font-size: 30px;
  font-weight: bold;
}

.navbar a:hover {
  color: #ff005d;
}
